{% extends 'common.html' %}
{% load crispy_forms_tags %}

{% block common %}
<section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4><i class="fas fa-sign-in-alt"></i>Forget Password</h4>
            </div>
            <div class="card-body">
                {% include 'alerts.html' %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field|as_crispy_field}}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <input type="submit" value="Password Reset" class="btn btn-secondary btn-block">
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock common %}