{% extends 'common.html' %}
{% load crispy_forms_tags %}

{% block common %}

<section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4><i class="fas fa-sign-in-alt"></i>Change Password</h4>
            </div>
            {% if validlink %}
            <div class="card-body">
                {% include 'alerts.html' %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}

                    <button type="submit">Submit</button>
                </form>
            </div>
            {% else %}
            <div class="card-body">
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock common %}