{% extends 'common.html' %}
{% load crispy_forms_tags %}

{% block common %}

<section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4><i class="fas fa-sign-in-alt"></i>Password Rest Complete</h4>
            </div>
            <div class="card-body">
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}">Log in</a> now.
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock common %}