{% extends 'common_my_page.html' %}
{% load crispy_forms_tags %}

{% block my_page %}
  <div class="container">
    <div id="" class=""><br>
      <h3>Personal Information</h3>
      <div class="card" style="width:370px">
        <div class="card-body">
          <h5 class="card-title">{% if user.is_authenticated %} {{ user.username }} {% endif %}</h5>
          {% if baseuser.logo_cover %} <img src="{{ baseuser.logo_cover.url }}"> {% endif %}
        </div>
      </div>
    </div>

    <div class="card-body">
        {% include 'alerts.html' %}
        <form action="." class="" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}" readonly>
<!--            {{ form.user.first_name }}-->
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}" readonly>
<!--            {{ form.user.last_name  }}-->
          </div>
          <div class="form-group">
            <label for="mobile_number">Mobile Number</label>
            <input type="text" name="mobile_number" class="form-control" value="{{ baseuser.mobile_number }}" readonly>
<!--            {{ form.mobile_number }}-->
          </div>
          <div class="form-group">
            <label for="house_number">House / Block and Lot Number</label>
            <input type="text" name="house_number" class="form-control" value="{{ baseuser.house_number }}" readonly>
<!--            {{ form.house_number }}-->
          </div>
          <div class="form-group">
            <label for="street_address">Street Address</label>
            <input type="text" name="street_address" class="form-control" value="{{ baseuser.street_address }}" readonly>
<!--            {{ form.street_address }}-->
          </div>
          <div class="form-group">
            <label for="subdivision">Subdivision</label>
            <input type="text" name="subdivision" class="form-control" value="{{ baseuser.subdivision }}" readonly>
<!--            {{ form.subdivision }}-->
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="city" class="form-control" value="{{ baseuser.city }}" readonly>
<!--            {{ form.city }}-->
          </div>
          <div class="form-group">
            <label for="zip_code">Zip Code</label>
            <input type="text" name="zip_code" class="form-control" value="{{ baseuser.zip_code }}" readonly>
<!--            {{ form.zip_code }}-->
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" value="{{user.username}}" readonly>
<!--            {{ form.user.username }}-->
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" value="{{user.email}}" readonly>
<!--            {{ form.user.email }}-->
          </div>
          <div class="form-group">
            <label for="password2">Password</label>
            <input type="password" name="password" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" name="password2" class="form-control" readonly>
          </div>
        </form>
        <a href="{% url 'profile_edit' baseuser.pk %}"><button class="btn btn-secondary btn-block">EDIT</button></a>
    </div>
  </div>
{% endblock my_page %}
